<a href="https://colab.research.google.com/github/K1mb3rlyF/PrograIII-2024/blob/main/fundamentos_de_pyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
nombre = "Kimberly Funes"

print("Hola", nombre, ",inicial: ", nombre[0], nombre[5])

Hola Kimberly Funes ,inicial:  K r

EJERCICIO, crear un programa en pyton que sume dos numeros

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  14.5

EJERCICIO, crear un programa en pyton que sume dos numeros introducidos por el usuario

In [ ]:
print("Num 1")
num1 = float(input())

print("Num 2")
num2 = float(input())

resp = num1 + num2
print("La suma es: ", resp)

Num 1
9
Num 2
4.5
La suma es:  13.5

In [ ]:
#Tipos de datos
num1 = 5 #entero
num2 = 5.9 #decimal
nombre = "Kimberly Funes" #cadena
print(nombre[0:8], nombre[:8], nombre[-1], nombre[9:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado) )

Kimberly Kimberly s Funes
True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

EJERCICIO, crear un programa en pyton que lea un numero y determine si es par o impar.

In [ ]:
num = int(input("ingrese un numero: "))
if num % 2 == 0:
  print("El numero es par", num)
else:
  print("El numero es impar")

ingrese un numero: 8
El numero es par 8

EJERCICIO: Uso de las funciones de usuario, con la suma de dos numeros.

In [ ]:
def suma(num1, num2):
  return num1 + num2

In [ ]:
  num1 = float(input("Num1 : "))
  num2 = float(input("Num2 :"))

  resp = suma(num1, num2)
  print("a suma es: ", resp)

Num1 : 5
Num2 :9
a suma es:  14.0

EJERICIO: Converti grados celsius a farenheit, usando funciones de usuario.

In [ ]:
def convertir_cf(c):
  return 32 + c*1.8

In [ ]:
c = float(input("Celcius: "))
print("F: ", convertir_cf(c))

Celcius: 33
F:  91.4

EJERCICIO: Determina si un numero es par o impar.

In [ ]:
def parImpar(num):
  if(num%2==0):
   return "par"
  return "impar"

In [ ]:
num = int(input("Num: "))
print("El numero ", num, " es: ", parImpar(num))

Num: 9
El numero  9  es:  impar

**TAREA (MIERCOLES):**
1.  Convertir grados Farenheits a Celsius.
2.  Convertir grados [Celsius y Farenheit] a kelvin.

EJERCICIO 1: Convertir grados Farenheits a Celsius.

In [ ]:
def convertir(f):
  c =  (f-32) * 5/9
  return c

In [ ]:
  f = float(input("Ingresa los grados Farenheits: "))
  print(f"La conversion a grados celsius es: {convertir(f)}")

Ingresa los grados Farenheits: 70
La conversion a grados celsius es: 21.11111111111111

EJERCICIO 2: Convertir grados [Celsius y Farenheit] a kelvin.

In [ ]:
def celsius_a_kelvin(celsius):

    kelvin = celsius + 273.15
    return kelvin

def fahrenheit_a_kelvin(fahrenheit):

    celsius = (fahrenheit - 32) * 5.0/9.0
    kelvin = celsius_a_kelvin(celsius)
    return kelvin

def convertir_a_kelvin():
    f
    opcion = input("Seleccione la temperatura para convertir a Kelvin (C para Celsius, F para Fahrenheit): ").strip().upper()

    if opcion == 'C':
        temperatura_celsius = float(input("Digite la temperatura en grados Celsius: "))
        temperatura_kelvin = celsius_a_kelvin(temperatura_celsius)
        print(f"{temperatura_celsius}°C es igual a {temperatura_kelvin:.2f} K")
    elif opcion == 'F':
        temperatura_fahrenheit = float(input("Digite la temperatura en grados Fahrenheit: "))
        temperatura_kelvin = fahrenheit_a_kelvin(temperatura_fahrenheit)
        print(f"{temperatura_fahrenheit}°F es igual a {temperatura_kelvin:.2f} K")
    else:
        print("ERROR. asegurese de elejir 'C' para Celsius o 'F' para Fahrenheit.")


convertir_a_kelvin()

Seleccione la temperatura para convertir a Kelvin (C para Celsius, F para Fahrenheit): c
Digite la temperatura en grados Celsius: 30
30.0°C es igual a 303.15 K

EJERCICIO: Calcular el suelo de un trabajador.

In [ ]:
def sueldo(numHrs, valorXHrs):
  sueldo = numHrs * valorXHrs * 30 # 10*1.5*30 = 450
  if(numHrs>8):
    sueldo = sueldo + (numHrs-8) * valorXHrs * 30 # 2*1.5*30 = 90
  return sueldo

In [ ]:
numHrs = int(input("Horas: "))
valorXHrs = float(input("Valor: "))

print("Sueldo: ", sueldo(numHrs, valorXHrs))

Horas: 10
Valor: 1.5
Sueldo:  540.0

EJERCICIO: elevar un numero al cuadrado.

In [ ]:
def elevarCuadrado(base=0,exponente=2):
  return base**exponente

In [ ]:
num = int(input("Num: "))
print("Cuadrado: ", elevarCuadrado(num, 3))

Num: 4
Cuadrado:  64

USANDO FUNCIONES LAMBDA

In [ ]:
elevarCuadradoLambda = lambda base, exponente: base**exponente

In [ ]:
valor = int(input("Num: "))
print("Cuadrado: ", elevarCuadradoLambda(valor, 2))

Num: 3
Cuadrado:  9

In [ ]:
serie = [5,4,3,2,6,7]
resp = map(lambda x: x**2, serie)
print(list(resp))

resp2 = map(elevarCuadrado, serie)
print(list(resp2))

[25, 16, 9, 4, 36, 49]
[25, 16, 9, 4, 36, 49]

EJERCICIO: Obtener la raiz cuadrada de una serie de numeros fijos.

In [ ]:
def raizCuadrada(num):
  return num**0.5

In [ ]:
serie = [5,4,3,2,6,7]
resp = map(raizCuadrada, serie)
print(list(resp))

[2.23606797749979, 2.0, 1.7320508075688772, 1.4142135623730951, 2.449489742783178, 2.6457513110645907]

Ejercicios con funciones preconstruidas en pyton.:
- MAP.

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9]
print (list(map(lambda n: n*2, numeros)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9, 10]
ntabla = int(input("Tabla: "))
print(list(map(lambda n: n*ntabla, numeros))) #tabla de multiplicar

Tabla: 7
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

- FILTER

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]
print("Pares: ", list(filter(lambda n: n%2==0, numeros))) #Obtener solo los numeros pares.
print("Impares: ", list(filter(lambda n: n%2!=0, numeros))) #Obtener los numeros impares.

Pares:  [2, 4, 6, 8, 10]
Impares:  [1, 3, 5, 7, 9]

In [ ]:
notas = [8,4,9,10,7,6,9,10,2,3,1,8,2,9]
print("Aprobados: ", list(filter(lambda n: n>=6, notas)))
print("Reprobados: ", list(filter(lambda n: n<6, notas)))

Aprobados:  [8, 9, 10, 7, 6, 9, 10, 8, 9]
Reprobados:  [4, 2, 3, 1, 2]

- REDUCE

In [ ]:
from functools import reduce
numeros = [7,8,9,10]
print("Suma: ", reduce(lambda n, acum: n+acum, numeros))

Suma:  34

In [ ]:
numeros = [7,8,9,10, 1,5]
print("Num Mayor: ", reduce(lambda n, mayor: n if n>mayor else mayor, numeros))
print("Num Menor: ", reduce(lambda n, menor: n if n<menor else menor, numeros))

Num Mayor:  10
Num Menor:  1

**TUPLAS**

In [ ]:
numeros = (5,8,7,9,5,4,7)
print("Tupla: ", numeros, "Primer: ", numeros[0], "Ultimo: ", numeros[-1], "Rango: 2-6", numeros[2:6])

Tupla:  (5, 8, 7, 9, 5, 4, 7) Primer:  5 Ultimo:  7 Rango: 2-6 (7, 9, 5, 4)

In [ ]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
print("Primer dia. ", semana[0], "Cuantas veces repite domingo: ", semana.count("domingo"), "; dias de la semana: ", len(semana))

Primer dia.  domingo Cuantas veces repite domingo:  1 ; dias de la semana:  7

In [ ]:
import datetime
hoy = datetime.date.today()
dia = hoy.day
mes = hoy.month
year = hoy.year
dia_semana = hoy.isoweekday()

semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
meses = ("enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre")

print("Fecha: ", semana[dia_semana], dia, "de ", meses[mes], "del ", year)

Fecha:  lunes 29 de  agosto del  2024

In [ ]:
tuplas = ("Kim","Alfredo")
#tuplas[0] = "Pedro" #Las tulas son inmutables, no puede cambiar su valor.
print(tuplas)

listas = ["Kim","Alfredo"]
listas[0] = "Pedro" #Las listas son mutables, si puede cambiar su valor.
print(listas)

('Kim', 'Alfredo')
['Pedro', 'Alfredo']

**LISTAS**

In [ ]:
listas = [5,8,7,9, "Kim", "Stanley", "Yulieth"]
print(listas, listas[-1])

[5, 8, 7, 9, 'Kim', 'Stanley', 'Yulieth'] Yulieth

In [ ]:
def obtenerNota(nota, eval):
  return eval[1]*0.3 + nota

**TAREA (MIERCOLES 21 agosto):**

 1. **Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP(6.25%), ISR(Según tabla) e imprima el total deducciones y
sueldo neto.**

In [ ]:
def calcular_deducciones(sueldo_bruto):
    # Deducción ISSS
    iss = sueldo_bruto * 0.03  # 3% del sueldo bruto

    # Deducción AFP
    afp = sueldo_bruto * 0.0625  # 6.25% del sueldo bruto

    # Deducción ISR
    isr = sueldo_bruto * 0.00# 0% del sueldo bruto

    # Calcular el total de deducciones
    total_deducciones = iss + afp + isr

    # Calcular el sueldo neto
    sueldo_neto = sueldo_bruto - total_deducciones

    return iss, afp, isr, total_deducciones, sueldo_neto

# Ejemplo de uso
sueldo_bruto = float(input("Ingrese el sueldo bruto: "))
iss, afp, isr, total_deducciones, sueldo_neto = calcular_deducciones(sueldo_bruto)

print(f"Deducción ISSS: ${iss:.2f}")
print(f"Deducción AFP: ${afp:.2f}")
print(f"Deducción ISR: ${isr:.2f}")
print(f"Total de deducciones: ${total_deducciones:.2f}")
print(f"Sueldo neto: ${sueldo_neto:.2f}")

2. **Calcular el valor a pagar según el número de metros consumidos de agua potable (Ver tabla en la siguiente diapositiva).**

In [ ]:
def calcular_valor_pagar(mts_consumidos):
    if mts_consumidos <= 18:
        # Cuota fija para hasta 18 metros
        valor = 6
    elif 19 <= mts_consumidos <= 28:
        # Calculo para el exceso de 18 metros
        exceso = mts_consumidos - 18
        valor = 6 + (exceso * 0.45)
    elif mts_consumidos >= 29:
        # Calculo para el exceso de 28 metros
        exceso_primero = 28 - 18
        exceso_segundo = mts_consumidos - 28
        valor = 6 + (exceso_primero * 0.45) + (exceso_segundo * 0.65)
    else:
        # En caso de un valor fuera de rango (aunque no debería suceder según la descripción)
        valor = 0

    return valor

# Ejemplo de uso
mts_consumidos = float(input("Ingrese los metros consumidos: "))
valor_a_pagar = calcular_valor_pagar(mts_consumidos)

print(f"Valor a pagar: ${valor_a_pagar:.2f}")

3. **Desarrolle la tabla de meses acumulados a n meses. Si puede encontrar la fórmula matemática para evitar ciclos.**

In [ ]:
def calcular_acumulacion(meses):
    acumulaciones = []
    for mes in range(1, meses + 1):
        total_acumulado = mes * (mes + 1) // 2
        acumulaciones.append(total_acumulado)
    return acumulaciones

# Ejemplo de uso
num_meses = int(input("Ingrese el número de meses: "))
tabla_acumulacion = calcular_acumulacion(num_meses)

# Imprimir la tabla
print("MES\tACUMULACION")
for mes, acumulacion in enumerate(tabla_acumulacion, start=1):
    print(f"{mes}\t${acumulacion}")

4. **Conversores:(10 ítems como mínimo por cada uno)**

• Monedas

• Longitud

• Masa

• Almacenamiento

• Tiempo

• Volumen

• Área

**MONEDAS**

In [ ]:
monedas = {
    1: {"nombre": "Dólares", "tasa": 1.0},
    2: {"nombre": "Euros", "tasa": 0.84},
    3: {"nombre": "Yenes", "tasa": 109.87},
    4: {"nombre": "Wones", "tasa": 1200.0},
    5: {"nombre": "Libras", "tasa": 0.76},
    6: {"nombre": "Francos suizos", "tasa": 0.92},
    7: {"nombre": "Dólares canadienses", "tasa": 1.32},
    8: {"nombre": "Dólares australianos", "tasa": 1.48},
    9: {"nombre": "Rupias indias", "tasa": 74.83},
    10: {"nombre": "Yuanes chinos", "tasa": 6.89}
}

def convertir_monedas():
    print("Conversor de monedas")
    print("--------------------")
    print("1. Dólares")
    print("2. Euros")
    print("3. Yenes")
    print("4. Wones")
    print("5. Libras")
    print("6. Francos suizos")
    print("7. Dólares canadienses")
    print("8. Dólares australianos")
    print("9. Rupias indias")
    print("10. Yuanes chinos")

    # Pedimos la moneda original y la moneda a convertir
    moneda_original = int(input("Ingrese el número de la moneda original: "))
    moneda_convertir = int(input("Ingrese el número de la moneda a convertir: "))

    # Pedimos la cantidad a convertir
    cantidad = float(input("Ingrese la cantidad a convertir: "))

    # Realizamos la conversión
    tasa_original = monedas[moneda_original]["tasa"]
    tasa_convertir = monedas[moneda_convertir]["tasa"]
    resultado = cantidad / tasa_original * tasa_convertir

    # Mostramos el resultado
    print(f"{cantidad} {monedas[moneda_original]['nombre']} son {resultado} {monedas[moneda_convertir]['nombre']}")

convertir_monedas()

Conversor de monedas
--------------------
1. Dólares
2. Euros
3. Yenes
4. Wones
5. Libras
6. Francos suizos
7. Dólares canadienses
8. Dólares australianos
9. Rupias indias
10. Yuanes chinos
Ingrese el número de la moneda original: 3
Ingrese el número de la moneda a convertir: 4
Ingrese la cantidad a convertir: 8
8.0 Yenes son 87.37598980613453 Wones

**LONGITUD**

In [ ]:
unidades_longitud = {
    1: {"nombre": "Metro", "conversion": 1.0},
    2: {"nombre": "Centímetro", "conversion": 0.01},
    3: {"nombre": "Milímetro", "conversion": 0.001},
    4: {"nombre": "Kilómetro", "conversion": 1000.0},
    5: {"nombre": "Pulgada", "conversion": 0.0254},
    6: {"nombre": "Pie", "conversion": 0.3048},
    7: {"nombre": "Yarda", "conversion": 0.9144},
    8: {"nombre": "Milla", "conversion": 1609.34},
    9: {"nombre": "Micrómetro", "conversion": 0.000001},
    10: {"nombre": "Nanómetro", "conversion": 0.000000001}
}

def convertir_longitud():
    print("Conversor de longitud")
    print("--------------------")
    print("1. Metro")
    print("2. Centímetro")
    print("3. Milímetro")
    print("4. Kilómetro")
    print("5. Pulgada")
    print("6. Pie")
    print("7. Yarda")
    print("8. Milla")
    print("9. Micrómetro")
    print("10. Nanómetro")

    # Pedimos la unidad de longitud original y la unidad a convertir
    unidad_original = int(input("Ingrese el número de la unidad de longitud original: "))
    unidad_convertir = int(input("Ingrese el número de la unidad de longitud a convertir: "))

    # Pedimos la cantidad a convertir
    cantidad = float(input("Ingrese la cantidad a convertir: "))

    # Realizamos la conversión
    conversion_original = unidades_longitud[unidad_original]["conversion"]
    conversion_convertir = unidades_longitud[unidad_convertir]["conversion"]
    resultado = cantidad * conversion_original / conversion_convertir

    # Mostramos el resultado
    print(f"{cantidad} {unidades_longitud[unidad_original]['nombre']} son {resultado} {unidades_longitud[unidad_convertir]['nombre']}")

convertir_longitud()

Conversor de longitud
--------------------
1. Metro
2. Centímetro
3. Milímetro
4. Kilómetro
5. Pulgada
6. Pie
7. Yarda
8. Milla
9. Micrómetro
10. Nanómetro
Ingrese el número de la unidad de longitud original: 1
Ingrese el número de la unidad de longitud a convertir: 2
Ingrese la cantidad a convertir: 5
5.0 Metro son 500.0 Centímetro

**MASA**

In [ ]:
unidades_masa = {
    1: {"nombre": "Gramo", "conversion": 1.0},
    2: {"nombre": "Kilogramo", "conversion": 1000.0},
    3: {"nombre": "Tonelada", "conversion": 1000000.0},
    4: {"nombre": "Libra", "conversion": 453.592},
    5: {"nombre": "Onza", "conversion": 28.3495},
    6: {"nombre": "Miligramo", "conversion": 0.001},
    7: {"nombre": "Microgramo", "conversion": 0.000001},
    8: {"nombre": "Nanoogramo", "conversion": 0.000000001},
    9: {"nombre": "Stone", "conversion": 6350.29},
    10: {"nombre": "Pound", "conversion": 453.592}
}

def convertir_masa():
    print("Conversor de masa")
    print("--------------------")
    print("1. Gramo")
    print("2. Kilogramo")
    print("3. Tonelada")
    print("4. Libra")
    print("5. Onza")
    print("6. Miligramo")
    print("7. Microgramo")
    print("8. Nanoogramo")
    print("9. Stone")
    print("10. Pound")

    # Pedimos la unidad de masa original y la unidad a convertir
    unidad_original = int(input("Ingrese el número de la unidad de masa original: "))
    unidad_convertir = int(input("Ingrese el número de la unidad de masa a convertir: "))

    # Pedimos la cantidad a convertir
    cantidad = float(input("Ingrese la cantidad a convertir: "))

    # Realizamos la conversión
    conversion_original = unidades_masa[unidad_original]["conversion"]
    conversion_convertir = unidades_masa[unidad_convertir]["conversion"]
    resultado = cantidad * conversion_original / conversion_convertir

    # Mostramos el resultado
    print(f"{cantidad} {unidades_masa[unidad_original]['nombre']} son {resultado} {unidades_masa[unidad_convertir]['nombre']}")

convertir_masa()

Conversor de masa
--------------------
1. Gramo
2. Kilogramo
3. Tonelada
4. Libra
5. Onza
6. Miligramo
7. Microgramo
8. Nanoogramo
9. Stone
10. Pound
Ingrese el número de la unidad de masa original: 1
Ingrese el número de la unidad de masa a convertir: 4
Ingrese la cantidad a convertir: 5
5.0 Gramo son 0.011023122100918888 Libra

**ALMACENAMIENTO**

In [ ]:
unidades_almacenamiento = {
    1: {"nombre": "Byte", "conversion": 1.0},
    2: {"nombre": "Kilobyte", "conversion": 1024.0},
    3: {"nombre": "Megabyte", "conversion": 1048576.0},
    4: {"nombre": "Gigabyte", "conversion": 1073741824.0},
    5: {"nombre": "Terabyte", "conversion": 1099511627776.0},
    6: {"nombre": "Petabyte", "conversion": 1125899906842624.0},
    7: {"nombre": "Exabyte", "conversion": 1152921504606846976.0},
    8: {"nombre": "Zettabyte", "conversion": 1180591620717411303424.0},
    9: {"nombre": "Yottabyte", "conversion": 1208925813757760000000000.0},
    10: {"nombre": "Bit", "conversion": 0.125}
}

def convertir_almacenamiento():
    print("Conversor de almacenamiento")
    print("---------------------------")
    print("1. Byte")
    print("2. Kilobyte")
    print("3. Megabyte")
    print("4. Gigabyte")
    print("5. Terabyte")
    print("6. Petabyte")
    print("7. Exabyte")
    print("8. Zettabyte")
    print("9. Yottabyte")
    print("10. Bit")

    # Pedimos la unidad de almacenamiento original y la unidad a convertir
    unidad_original = int(input("Ingrese el número de la unidad de almacenamiento original: "))
    unidad_convertir = int(input("Ingrese el número de la unidad de almacenamiento a convertir: "))

    # Pedimos la cantidad a convertir
    cantidad = float(input("Ingrese la cantidad a convertir: "))

    # Realizamos la conversión
    conversion_original = unidades_almacenamiento[unidad_original]["conversion"]
    conversion_convertir = unidades_almacenamiento[unidad_convertir]["conversion"]
    resultado = cantidad * conversion_original / conversion_convertir

    # Mostramos el resultado
    print(f"{cantidad} {unidades_almacenamiento[unidad_original]['nombre']} son {resultado} {unidades_almacenamiento[unidad_convertir]['nombre']}")

convertir_almacenamiento()

Conversor de almacenamiento
---------------------------
1. Byte
2. Kilobyte
3. Megabyte
4. Gigabyte
5. Terabyte
6. Petabyte
7. Exabyte
8. Zettabyte
9. Yottabyte
10. Bit
Ingrese el número de la unidad de almacenamiento original: 4
Ingrese el número de la unidad de almacenamiento a convertir: 3
Ingrese la cantidad a convertir: 3
3.0 Gigabyte son 3072.0 Megabyte

**TIEMPO**

In [ ]:
unidades_tiempo = {
    1: {"nombre": "Segundo", "conversion": 1.0},
    2: {"nombre": "Minuto", "conversion": 60.0},
    3: {"nombre": "Hora", "conversion": 3600.0},
    4: {"nombre": "Día", "conversion": 86400.0},
    5: {"nombre": "Semana", "conversion": 604800.0},
    6: {"nombre": "Mes", "conversion": 2629800.0},
    7: {"nombre": "Año", "conversion": 31557600.0},
    8: {"nombre": "Milisegundo", "conversion": 0.001},
    9: {"nombre": "Microsegundo", "conversion": 0.000001},
    10: {"nombre": "Nanosegundo", "conversion": 0.000000001}
}

def convertir_tiempo():
    print("Conversor de tiempo")
    print("------------------")
    print("1. Segundo")
    print("2. Minuto")
    print("3. Hora")
    print("4. Día")
    print("5. Semana")
    print("6. Mes")
    print("7. Año")
    print("8. Milisegundo")
    print("9. Microsegundo")
    print("10. Nanosegundo")

    # Pedimos la unidad de tiempo original y la unidad a convertir
    unidad_original = int(input("Ingrese el número de la unidad de tiempo original: "))
    unidad_convertir = int(input("Ingrese el número de la unidad de tiempo a convertir: "))

    # Pedimos la cantidad a convertir
    cantidad = float(input("Ingrese la cantidad a convertir: "))

    # Realizamos la conversión
    conversion_original = unidades_tiempo[unidad_original]["conversion"]
    conversion_convertir = unidades_tiempo[unidad_convertir]["conversion"]
    resultado = cantidad * conversion_original / conversion_convertir

    # Mostramos el resultado
    print(f"{cantidad} {unidades_tiempo[unidad_original]['nombre']} son {resultado} {unidades_tiempo[unidad_convertir]['nombre']}")

convertir_tiempo()

Conversor de tiempo
------------------
1. Segundo
2. Minuto
3. Hora
4. Día
5. Semana
6. Mes
7. Año
8. Milisegundo
9. Microsegundo
10. Nanosegundo
Ingrese el número de la unidad de tiempo original: 3
Ingrese el número de la unidad de tiempo a convertir: 2
Ingrese la cantidad a convertir: 1
1.0 Hora son 60.0 Minuto

**VOLUMEN**

In [ ]:
unidades_volumen = {
    1: {"nombre": "Mililitro", "conversion": 1.0},
    2: {"nombre": "Litro", "conversion": 1000.0},
    3: {"nombre": "Galón", "conversion": 3785.41},
    4: {"nombre": "Pinta", "conversion": 568.26},
    5: {"nombre": "Onza líquida", "conversion": 29.57},
    6: {"nombre": "Cubic centímetro", "conversion": 1.0},
    7: {"nombre": "Cubic metro", "conversion": 1000000.0},
    8: {"nombre": "Barril", "conversion": 158.9873},
    9: {"nombre": "Pulgada cúbica", "conversion": 16.3871},
    10: {"nombre": "Pie cúbico", "conversion": 28316.85}
}

def convertir_volumen():
    print("Conversor de volumen")
    print("------------------")
    print("1. Mililitro")
    print("2. Litro")
    print("3. Galón")
    print("4. Pinta")
    print("5. Onza líquida")
    print("6. Cubic centímetro")
    print("7. Cubic metro")
    print("8. Barril")
    print("9. Pulgada cúbica")
    print("10. Pie cúbico")

    # Pedimos la unidad de volumen original y la unidad a convertir
    unidad_original = int(input("Ingrese el número de la unidad de volumen original: "))
    unidad_convertir = int(input("Ingrese el número de la unidad de volumen a convertir: "))

    # Pedimos la cantidad a convertir
    cantidad = float(input("Ingrese la cantidad a convertir: "))

    # Realizamos la conversión
    conversion_original = unidades_volumen[unidad_original]["conversion"]
    conversion_convertir = unidades_volumen[unidad_convertir]["conversion"]
    resultado = cantidad * conversion_original / conversion_convertir

    # Mostramos el resultado
    print(f"{cantidad} {unidades_volumen[unidad_original]['nombre']} son {resultado} {unidades_volumen[unidad_convertir]['nombre']}")

convertir_volumen()

Conversor de volumen
------------------
1. Mililitro
2. Litro
3. Galón
4. Pinta
5. Onza líquida
6. Cubic centímetro
7. Cubic metro
8. Barril
9. Pulgada cúbica
10. Pie cúbico
Ingrese el número de la unidad de volumen original: 3
Ingrese el número de la unidad de volumen a convertir: 2
Ingrese la cantidad a convertir: 3
3.0 Galón son 11.35623 Litro


**ÁREAS**

In [ ]:
unidades_area = {
    1: {"nombre": "Lote", "conversion": 100.0},  # 100 metros cuadrados
    2: {"nombre": "Tarea", "conversion": 435.6},  # 435.6 metros cuadrados
    3: {"nombre": "Manzana", "conversion": 7093.41},  # 7093.41 metros cuadrados
    4: {"nombre": "Hectárea", "conversion": 10000.0},  # 10,000 metros cuadrados
    5: {"nombre": "Acre", "conversion": 4046.86},  # 4046.86 metros cuadrados
    6: {"nombre": "Kilómetro cuadrado", "conversion": 1000000.0},  # 1,000,000 metros cuadrados
    7: {"nombre": "Milla cuadrada", "conversion": 2599999.99},  # 2,599,999 metros cuadrados
    8: {"nombre": "Centiárea", "conversion": 1.0},  # 1 metro cuadrado
    9: {"nombre": "Decímetro cuadrado", "conversion": 0.01},  # 0.01 metros cuadrados
    10: {"nombre": "Metro cuadrado", "conversion": 1.0}  # 1 metro cuadrado
}

def convertir_area():
    print("Conversor de área")
    print("------------------")
    print("1. Lote")
    print("2. Tarea")
    print("3. Manzana")
    print("4. Hectárea")
    print("5. Acre")
    print("6. Kilómetro cuadrado")
    print("7. Milla cuadrada")
    print("8. Centiárea")
    print("9. Decímetro cuadrado")
    print("10. Metro cuadrado")

    # Pedimos la unidad de área original y la unidad a convertir
    unidad_original = int(input("Ingrese el número de la unidad de área original: "))
    unidad_convertir = int(input("Ingrese el número de la unidad de área a convertir: "))

    # Pedimos la cantidad a convertir
    cantidad = float(input("Ingrese la cantidad a convertir: "))

    # Realizamos la conversión
    conversion_original = unidades_area[unidad_original]["conversion"]
    conversion_convertir = unidades_area[unidad_convertir]["conversion"]
    resultado = cantidad * conversion_original / conversion_convertir

    # Mostramos el resultado
    print(f"{cantidad} {unidades_area[unidad_original]['nombre']} son {resultado} {unidades_area[unidad_convertir]['nombre']}")

convertir_area()

Conversor de área
------------------
1. Lote
2. Tarea
3. Manzana
4. Hectárea
5. Acre
6. Kilómetro cuadrado
7. Milla cuadrada
8. Centiárea
9. Decímetro cuadrado
10. Metro cuadrado
Ingrese el número de la unidad de área original: 1
Ingrese el número de la unidad de área a convertir: 4
Ingrese la cantidad a convertir: 3
3.0 Lote son 0.03 Hectárea

5. **Realizar un conversor propio, donde especifiqué el valor de conversión.**

In [14]:
def convertir_unidades_a_cajas(unidades):
    unidades_por_caja = 3//0.75
    cajas = (unidades + unidades_por_caja - 1) // unidades_por_caja
    return unidades - cajas * unidades_por_caja + 3.5

def _convertir_libras_a_sacos(libras):
    sacos_por_libra = 1/5
    sacos = (libras + sacos_por_libra - 1) // sacos_por_libra
    return libras - sacos * sacos_por_libra + 1.3000000000000003

def _convertir_unidades_a_fardos(unidades):
    unidades_por_fardo = 5//0.75
    fardos = (unidades + unidades_por_fardo - 1) // unidades_por_fardo
    return unidades - fardos * unidades_por_fardo + 7.300000000000001
def main():

 print("Conversor de unidades")
 print("1. Unidades a cajas")
 print("2. Libras a sacos")
 print("3. Unidades a fardos")

 opcion = int(input("Seleccione una opción: "))

 if opcion == 1:
    unidades = float(input("Ingrese la cantidad de unidades: "))
    cajas = convertir_unidades_a_cajas(unidades)
    print(f"{unidades} unidades son equivalentes a {cajas} cajas.")

 elif opcion == 2:
    libras = float(input("Ingrese la cantidad de libras: "))
    sacos = _convertir_libras_a_sacos(libras)
    print(f"{libras} libras son equivalentes a {sacos} sacos.")

 elif opcion == 3:
    unidades = float(input("Ingrese la cantidad de unidades: "))
    fardos = _convertir_unidades_a_fardos(unidades)
    print(f"{unidades} unidades son equivalentes a {fardos} fardos.")

 else:
    print("Opción inválida. Por favor, seleccione una opción válida.")

if __name__ == "__main__":
 main()

Conversor de unidades
1. Unidades a cajas
2. Libras a sacos
3. Unidades a fardos
Seleccione una opción: 1
Ingrese la cantidad de unidades: 8
8.0 unidades son equivalentes a 3.5 cajas.

In [11]:
serie = [1,2,3,3,4,4,1,8,9]
print(serie.count(1))

2

In [ ]:
numeros = []
for i in range(1,10):
  numeros.append(int(input("Num: "+ str(i)+": ")))
num = int(input("Num a buscar: "))
print("Serie: ", numeros, "El numero ", num, ", se repite: ", numeros.count(num))

Num: 1: 1
Num: 2: 8
Num: 3: 6
Num: 4: 4
Num: 5: 2
Num: 6: 1
Num: 7: 2
Num: 8: 3
Num: 9: 1
Num a buscar: 1
Serie:  [1, 8, 6, 4, 2, 1, 2, 3, 1] El numero  1 , se repite:  3

In [ ]:
numeros = [1,5,2,6,2,1,4]
numeros.sort()
numeros.reverse()
print(numeros)

[6, 5, 4, 2, 2, 1, 1]

**DICCIONARIOS - JSON**

In [ ]:
datos = {
    "codigo":"USSS007723",
    "nombre":"Kim Funes",
    "materias":[
        {"codigo":"611","nombre":"Programacion III","notas":{
            "c1":{"lab1":8,"lab2":9,"parcial":10},
            "c2":{"lab1":10,"lab2":9,"parcial":10},
            "c3":{"lab1":4,"lab2":5,"parcial":8}
            }
         },
        {"codigo":"612","nombre":"Base de Datos"}
    ]
}
print(datos["nombre"], datos["materias"][0]["nombre"], datos["materias"][0]["notas"]["c1"])

Kim Funes Programacion III {'lab1': 8, 'lab2': 9, 'parcial': 10}

**ESTRUCTURAS DE CONTROL**

**IF**

EJERCICIO: SOLICITAR AL USUARIO LA EDAD Y DETERMINAR SU CLASIFICACION.

In [ ]:
edad = int(input("edad: "))
if edad > 17:
  print("Bienvenido al mundo de las responsabilidades")

edad: 20
Bienvenido al mundo de las responsabilidades

**CICLO WHILE**

In [ ]:
continuar = "s"
while continuar=="s":
 edad = int(input("Edad: "))
 if edad <0 :
   print("Esta edad es invalida")
 elif edad <=2:
   print("Eres un bebe")
 elif edad <12:
   print("Eres un niño")
 elif edad <18:
   print("Eres un adolescente")
 elif edad <65:
   print("Eres un adulto")
 elif edad <85:
   print("Eres un adulto mayor")
 else:
   print("Larga Vida")
 continuar = input("Continuar s, sino cualquier tecla: ")

Edad: 5
Eres un niño
Continuar s, sino cualquier tecla: s
Edad: 18
Eres un adulto
Continuar s, sino cualquier tecla: ;

**Solicitar un numero y verificar si es positivo o negativo**

In [ ]:
num = int(input("Num: "))
if num < 0 :
  print("El numero es negativo")
elif num >=0 :
  print("El numero es positivo")

Num: 0
El numero es positivo

**CICLO FOR**

*Solicitar una tabla de multiplicar y generarla*

In [ ]:
continuar = "s"
while continuar=="s":
  tabla = int(input("Tabla: "))
  for i in range(1,11):
    print(tabla, "x", i, "=", tabla*i)
  continuar = input("Continuar s, sino cualquier tecla: ")

Tabla: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
Continuar s, sino cualquier tecla: 10

**PROGRAMACION ORIENTADA A OBJETOS**


*   CLASE

In [ ]:
class Calculadora:
  def sumar(self, num1, num2):
    return num1 + num2


*   OBJETOS

In [ ]:
#instanciar la clase Calculadora, para crear el objeto a partir de la clase.
objCalculadora = Calculadora()
num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))
print("Suma: ", objCalculadora.sumar(num1, num2))

Num 1: 5
Num 2: 3
Suma:  8.0

**EJERCICIO** *Escriba un programa que lea una serie de numeros introducidos por el usuario, y determine la media aritmetica.*

In [ ]:
from math import sqrt

class estadistica:
  def media(self, serie):
    suma = 0
    for num in serie:
      suma += num
    return suma/len(serie)

  def tipica(self, serie):
    media = self.media(serie)
    suma = 0
    for num in serie:
      suma += (num-media)**2
    return sqrt(suma/len(serie))

In [ ]:
n = int(input("Cuantos numeros va a ingresar: "))
serie = []
for num in range(1,n+1):
  serie.append(int(input("Num: ")))

objEstadistica = estadistica()
print("La media es: ", objEstadistica.media(serie))

print("La desviacion tipica es: ", round(objEstadistica.tipica(serie),3) )

Cuantos numeros va a ingresar: 1
Num: 1
La media es:  1.0
La desviacion tipica es:  0.0

**TAREA:**

*   Encontrar de una serie de numeros introducidos por el usuario la varianza.

In [12]:
def varianza_numeros():
    print("Introduce una serie de números separados por comas:")
    numeros = input("> ")

    numeros = [float(x) for x in numeros.split(",")]

    media = sum(numeros) / len(numeros)

    varianza = sum((x - media) ** 2 for x in numeros) / len(numeros)

    print(f"La varianza de la serie de números es: {varianza:.2f}")

varianza_numeros()

Introduce una serie de números separados por comas:
> 5,4,3,8,9,1,1
La varianza de la serie de números es: 8.53

*   Encontrar de una serie de numeros introducidos por el usuario la frecuencia.

In [ ]:
def frecuencia_numeros():
    print("Introduce una serie de números separados por comas:")
    numeros = input("> ")

    # Convertimos la entrada en una lista de números
    numeros = [int(x) for x in numeros.split(",")]

    # Creamos un diccionario para almacenar la frecuencia de cada número
    frecuencia = {}

    # Recorremos la lista de números y contamos la frecuencia de cada uno
    for numero in numeros:
        if numero in frecuencia:
            frecuencia[numero] += 1
        else:
            frecuencia[numero] = 1

    # Mostramos la frecuencia de cada número
    print("Frecuencia de cada número:")
    for numero, freq in frecuencia.items():
        print(f"El número {numero} aparece {freq} veces")

frecuencia_numeros()

Introduce una serie de números separados por comas:
> 1,2,3,4,4,4,5,6,6
Frecuencia de cada número:
El número 1 aparece 1 veces
El número 2 aparece 1 veces
El número 3 aparece 1 veces
El número 4 aparece 3 veces
El número 5 aparece 1 veces
El número 6 aparece 2 veces

*   Escriba un programa que determine si una palabra introducida por el usuario es palindrome. ***Ejem.*** *Ana, Oso, Oro, Reconocer, etc.*

In [10]:
def es_palindromo(palabra):
    # Convertir la palabra a minúsculas para comparación insensible a mayúsculas
    palabra = palabra.lower()
    # Eliminar espacios y caracteres no alfabéticos
    palabra = ''.join(char for char in palabra if char.isalnum())
    # Verificar si la palabra es igual a su reverso
    return palabra == palabra[::-1]

def main():
    # Solicitar al usuario que introduzca una palabra
    entrada = input("Introduce una palabra: ")
    # Verificar si la entrada es un palíndrome
    if es_palindromo(entrada):
        print(f'"{entrada}" es un palíndrome.')
    else:
        print(f'"{entrada}" no es un palíndrome.')

if __name__ == "__main__":
   main()

Introduce una palabra: oregero
"oregero" es un palíndrome.