<a href="https://colab.research.google.com/github/K1mb3rlyF/PrograIII-2024/blob/main/fundamentos_de_pyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
nombre = "Kimberly Funes"

print("Hola", nombre, ",inicial: ", nombre[0], nombre[5])

Hola Kimberly Funes ,inicial:  K r

EJERCICIO, crear un programa en pyton que sume dos numeros

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  14.5

EJERCICIO, crear un programa en pyton que sume dos numeros introducidos por el usuario

In [ ]:
print("Num 1")
num1 = float(input())

print("Num 2")
num2 = float(input())

resp = num1 + num2
print("La suma es: ", resp)

Num 1
9
Num 2
4.5
La suma es:  13.5

In [2]:
#Tipos de datos
num1 = 5 #entero
num2 = 5.9 #decimal
nombre = "Kimberly Funes" #cadena
print(nombre[0:8], nombre[:8], nombre[-1], nombre[9:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado) )

Kimberly Kimberly s Funes
True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

EJERCICIO, crear un programa en pyton que lea un numero y determine si es par o impar.

In [ ]:
num = int(input("ingrese un numero: "))
if num % 2 == 0:
  print("El numero es par", num)
else:
  print("El numero es impar")

ingrese un numero: 8
El numero es par 8

EJERCICIO: Uso de las funciones de usuario, con la suma de dos numeros.

In [8]:
def suma(num1, num2):
  return num1 + num2

In [9]:
  num1 = float(input("Num1 : "))
  num2 = float(input("Num2 :"))

  resp = suma(num1, num2)
  print("a suma es: ", resp)

Num1 : 5
Num2 :9
a suma es:  14.0

EJERICIO: Converti grados celsius a farenheit, usando funciones de usuario.

In [18]:
def convertir_cf(c):
  return 32 + c*1.8

In [19]:
c = float(input("Celcius: "))
print("F: ", convertir_cf(c))

Celcius: 33
F:  91.4

EJERCICIO: Determina si un numero es par o impar.

In [26]:
def parImpar(num):
  if(num%2==0):
   return "par"
  return "impar"

In [27]:
num = int(input("Num: "))
print("El numero ", num, " es: ", parImpar(num))

Num: 9
El numero  9  es:  impar

**TAREA (MIERCOLES):**
1.  Convertir grados Farenheits a Celsius.
2.  Convertir grados [Celsius y Farenheit] a kelvin.

EJERCICIO: Calcular el suelo de un trabajador.

In [30]:
def sueldo(numHrs, valorXHrs):
  sueldo = numHrs * valorXHrs * 30 # 10*1.5*30 = 450
  if(numHrs>8):
    sueldo = sueldo + (numHrs-8) * valorXHrs * 30 # 2*1.5*30 = 90
  return sueldo

In [31]:
numHrs = int(input("Horas: "))
valorXHrs = float(input("Valor: "))

print("Sueldo: ", sueldo(numHrs, valorXHrs))

Horas: 10
Valor: 1.5
Sueldo:  540.0