<a href="https://colab.research.google.com/github/K1mb3rlyF/PrograIII-2024/blob/main/fundamentos_de_pyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hola Mundo")
nombre = "Kimberly Funes"

print("Hola", nombre, ",inicial: ", nombre[0], nombre[5])

Hola Kimberly Funes ,inicial:  K r

EJERCICIO, crear un programa en pyton que sume dos numeros

In [ ]:
num1 = 5
num2 = 9.5
resp = num1 + num2
print("La suma es: ", resp)

La suma es:  14.5

EJERCICIO, crear un programa en pyton que sume dos numeros introducidos por el usuario

In [ ]:
print("Num 1")
num1 = float(input())

print("Num 2")
num2 = float(input())

resp = num1 + num2
print("La suma es: ", resp)

Num 1
9
Num 2
4.5
La suma es:  13.5

In [ ]:
#Tipos de datos
num1 = 5 #entero
num2 = 5.9 #decimal
nombre = "Kimberly Funes" #cadena
print(nombre[0:8], nombre[:8], nombre[-1], nombre[9:len(nombre)])

estado = True
print(estado)

print(type(nombre), type(num1), type(num2), type(estado) )

Kimberly Kimberly s Funes
True
<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

EJERCICIO, crear un programa en pyton que lea un numero y determine si es par o impar.

In [ ]:
num = int(input("ingrese un numero: "))
if num % 2 == 0:
  print("El numero es par", num)
else:
  print("El numero es impar")

ingrese un numero: 8
El numero es par 8

EJERCICIO: Uso de las funciones de usuario, con la suma de dos numeros.

In [ ]:
def suma(num1, num2):
  return num1 + num2

In [ ]:
  num1 = float(input("Num1 : "))
  num2 = float(input("Num2 :"))

  resp = suma(num1, num2)
  print("a suma es: ", resp)

Num1 : 5
Num2 :9
a suma es:  14.0

EJERICIO: Converti grados celsius a farenheit, usando funciones de usuario.

In [ ]:
def convertir_cf(c):
  return 32 + c*1.8

In [ ]:
c = float(input("Celcius: "))
print("F: ", convertir_cf(c))

Celcius: 33
F:  91.4

EJERCICIO: Determina si un numero es par o impar.

In [ ]:
def parImpar(num):
  if(num%2==0):
   return "par"
  return "impar"

In [ ]:
num = int(input("Num: "))
print("El numero ", num, " es: ", parImpar(num))

Num: 9
El numero  9  es:  impar

**TAREA (MIERCOLES):**
1.  Convertir grados Farenheits a Celsius.
2.  Convertir grados [Celsius y Farenheit] a kelvin.

EJERCICIO 1: Convertir grados Farenheits a Celsius.

In [ ]:
def convertir(f):
  c =  (f-32) * 5/9
  return c

In [ ]:
  f = float(input("Ingresa los grados Farenheits: "))
  print(f"La conversion a grados celsius es: {convertir(f)}")

Ingresa los grados Farenheits: 70
La conversion a grados celsius es: 21.11111111111111

EJERCICIO 2: Convertir grados [Celsius y Farenheit] a kelvin.

In [ ]:
def celsius_a_kelvin(celsius):

    kelvin = celsius + 273.15
    return kelvin

def fahrenheit_a_kelvin(fahrenheit):

    celsius = (fahrenheit - 32) * 5.0/9.0
    kelvin = celsius_a_kelvin(celsius)
    return kelvin

def convertir_a_kelvin():
    f
    opcion = input("Seleccione la temperatura para convertir a Kelvin (C para Celsius, F para Fahrenheit): ").strip().upper()

    if opcion == 'C':
        temperatura_celsius = float(input("Digite la temperatura en grados Celsius: "))
        temperatura_kelvin = celsius_a_kelvin(temperatura_celsius)
        print(f"{temperatura_celsius}°C es igual a {temperatura_kelvin:.2f} K")
    elif opcion == 'F':
        temperatura_fahrenheit = float(input("Digite la temperatura en grados Fahrenheit: "))
        temperatura_kelvin = fahrenheit_a_kelvin(temperatura_fahrenheit)
        print(f"{temperatura_fahrenheit}°F es igual a {temperatura_kelvin:.2f} K")
    else:
        print("ERROR. asegurese de elejir 'C' para Celsius o 'F' para Fahrenheit.")


convertir_a_kelvin()

Seleccione la temperatura para convertir a Kelvin (C para Celsius, F para Fahrenheit): c
Digite la temperatura en grados Celsius: 30
30.0°C es igual a 303.15 K

EJERCICIO: Calcular el suelo de un trabajador.

In [ ]:
def sueldo(numHrs, valorXHrs):
  sueldo = numHrs * valorXHrs * 30 # 10*1.5*30 = 450
  if(numHrs>8):
    sueldo = sueldo + (numHrs-8) * valorXHrs * 30 # 2*1.5*30 = 90
  return sueldo

In [ ]:
numHrs = int(input("Horas: "))
valorXHrs = float(input("Valor: "))

print("Sueldo: ", sueldo(numHrs, valorXHrs))

Horas: 10
Valor: 1.5
Sueldo:  540.0

EJERCICIO: elevar un numero al cuadrado.

In [ ]:
def elevarCuadrado(base=0,exponente=2):
  return base**exponente

In [ ]:
num = int(input("Num: "))
print("Cuadrado: ", elevarCuadrado(num, 3))

Num: 4
Cuadrado:  64

USANDO FUNCIONES LAMBDA

In [ ]:
elevarCuadradoLambda = lambda base, exponente: base**exponente

In [ ]:
valor = int(input("Num: "))
print("Cuadrado: ", elevarCuadradoLambda(valor, 2))

Num: 3
Cuadrado:  9

In [ ]:
serie = [5,4,3,2,6,7]
resp = map(lambda x: x**2, serie)
print(list(resp))

resp2 = map(elevarCuadrado, serie)
print(list(resp2))

[25, 16, 9, 4, 36, 49]
[25, 16, 9, 4, 36, 49]

EJERCICIO: Obtener la raiz cuadrada de una serie de numeros fijos.

In [ ]:
def raizCuadrada(num):
  return num**0.5

In [ ]:
serie = [5,4,3,2,6,7]
resp = map(raizCuadrada, serie)
print(list(resp))

[2.23606797749979, 2.0, 1.7320508075688772, 1.4142135623730951, 2.449489742783178, 2.6457513110645907]

Ejercicios con funciones preconstruidas en pyton.:
- MAP.

In [1]:
numeros = [1,2,3,4,5,6,7,8,9]
print (list(map(lambda n: n*2, numeros)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [6]:
numeros = [1,2,3,4,5,6,7,8,9, 10]
ntabla = int(input("Tabla: "))
print(list(map(lambda n: n*ntabla, numeros))) #tabla de multiplicar

Tabla: 7
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

- FILTER

In [8]:
numeros = [1,2,3,4,5,6,7,8,9,10]
print("Pares: ", list(filter(lambda n: n%2==0, numeros))) #Obtener solo los numeros pares.
print("Impares: ", list(filter(lambda n: n%2!=0, numeros))) #Obtener los numeros impares.

Pares:  [2, 4, 6, 8, 10]
Impares:  [1, 3, 5, 7, 9]

In [10]:
notas = [8,4,9,10,7,6,9,10,2,3,1,8,2,9]
print("Aprobados: ", list(filter(lambda n: n>=6, notas)))
print("Reprobados: ", list(filter(lambda n: n<6, notas)))

Aprobados:  [8, 9, 10, 7, 6, 9, 10, 8, 9]
Reprobados:  [4, 2, 3, 1, 2]

- REDUCE

In [11]:
from functools import reduce
numeros = [7,8,9,10]
print("Suma: ", reduce(lambda n, acum: n+acum, numeros))

Suma:  34

In [14]:
numeros = [7,8,9,10, 1,5]
print("Num Mayor: ", reduce(lambda n, mayor: n if n>mayor else mayor, numeros))
print("Num Menor: ", reduce(lambda n, menor: n if n<menor else menor, numeros))

Num Mayor:  10
Num Menor:  1

**TUPLAS**

In [15]:
numeros = (5,8,7,9,5,4,7)
print("Tupla: ", numeros, "Primer: ", numeros[0], "Ultimo: ", numeros[-1], "Rango: 2-6", numeros[2:6])

Tupla:  (5, 8, 7, 9, 5, 4, 7) Primer:  5 Ultimo:  7 Rango: 2-6 (7, 9, 5, 4)

In [19]:
semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
print("Primer dia. ", semana[0], "Cuantas veces repite domingo: ", semana.count("domingo"), "; dias de la semana: ", len(semana))

Primer dia.  domingo Cuantas veces repite domingo:  1 ; dias de la semana:  7

In [25]:
import datetime
hoy = datetime.date.today()
dia = hoy.day
mes = hoy.month
year = hoy.year
dia_semana = hoy.isoweekday()

semana = ("domingo", "lunes", "martes", "miercoles", "jueves", "viernes", "sabado")
meses = ("enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre")

print("Fecha: ", semana[dia_semana], dia, "de ", meses[mes], "del ", year)

Fecha:  lunes 29 de  agosto del  2024

In [27]:
tuplas = ("Kim","Alfredo")
#tuplas[0] = "Pedro" #Las tulas son inmutables, no puede cambiar su valor.
print(tuplas)

listas = ["Kim","Alfredo"]
listas[0] = "Pedro" #Las listas son mutables, si puede cambiar su valor.
print(listas)

('Kim', 'Alfredo')
['Pedro', 'Alfredo']

**LISTAS**

In [28]:
listas = [5,8,7,9, "Kim", "Stanley", "Yulieth"]
print(listas, listas[-1])

[5, 8, 7, 9, 'Kim', 'Stanley', 'Yulieth'] Yulieth

In [51]:
def obtenerNota(nota, eval):
  return eval[1]*0.3 + nota

In [52]:
matriz = [ ["Lab1", 8],["Lab2", 9], ["Parcial", 8] ] #8*0.3=2.4 + 9*0.3=2.7 +8*0.3=2.4
reduce(obtenerNota, matriz, 0)

7.5